.counter-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .counter-item {
    text-align: center;
    position: relative;

    span {
      font-weight: 600;
      font-size: 3.6rem;
      margin-bottom: 1.2rem;
    }

    p {
      color: var(--color-Dark-800);
    }

    &::after {
      content: "";
      width: 0.1rem;
      height: 15rem;
      position: absolute;
      top: -3rem;
      right: -60%;
      background-color: black;
      opacity: 0.1;
    }

    &:last-child::after {
      display: none;
    }
  }
}

/* // --------------------------------------------------------
//                      MEDIA QUERIES
// -------------------------------------------------------- */

@media screen and (max-width: 800px) {
  .counter-wrapper {
    gap: 2.5rem;
    flex-wrap: wrap;

    .counter-item {
      width: 46%;
      text-align: center;

      &::after {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 801px) and (max-width: 991px) {
  .counter-wrapper {
    .counter-item {
      &::after {
        right: -25%;
      }
    }
  }
}
