footer {
  padding: var(--section-padding 0);
  background-color: var(--color-secondary);

  .footer-heading {
    width: 80%;

    h2 {
      color: white;
      margin-bottom: 1.5rem;
    }

    p {
      color: white;
    }
  }

  .footer-items {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  .footer-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    p {
      font-size: 1.3rem;
      color: white;
    }

    h3 {
      color: white;
      margin-bottom: 1.5rem;
    }

    a {
      color: white;
      padding: 0.8rem 0;
      transition: color 0.3s ease-in-out;

      &:hover {
        color: var(--color-primary);
      }
    }

    .social-links {
      margin: 2rem 0;

      svg {
        margin: 0 0.6rem;
        fill: white;
      }
    }
  }

  .scrollTop {
    bottom: 5%;
    right: 5%;
    width: 5rem;
    height: 5rem;
    border: none;
    position: fixed;
    cursor: pointer;
    border-radius: 50%;
    transform: scale(0);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary);
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;

    &:hover {
      background-color: var(--color-primary-hover);
    }

    &.show-scrollTop {
      transform: scale(1);
    }
  }
}

/* // --------------------------------------------------------
//                      MEDIA QUERIES
// -------------------------------------------------------- */

@media screen and (max-width: 768px) {
  .heading-flex {
    align-items: flex-start;
    flex-direction: column;
  }

  footer {
    padding: 6rem 0;
    .footer-heading {
      width: 100%;
      margin-bottom: 3rem;
    }

    .footer-items {
      gap: 4rem;
      align-items: flex-start;
      flex-direction: column-reverse;
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 860px) {
  footer {
    .footer-heading {
      width: 70%;
    }
  }
}
