header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  padding: 3rem 0;
  background: transparent;
  transition: box-sizing 0.3s ease-in-out, padding 0.3s ease-in-out;

  nav,
  .header-wrapper {
    gap: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &.is-Sticky {
    padding: 1.5rem 0;
    box-sizing: var(--box-shadow-sm);
    background: var(--color-gradient);
  }
}

.nav-list {
  gap: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .nav-item {
    display: flex;
  }

  .nav-link {
    padding: 2rem;
    color: white;
    font-size: var(--fs-subheading);
    transition: color 0.3s ease-in-out;

    &.active {
      color: var(--color-primary);
    }

    &:hover {
      color: var(--color-primary);
    }
  }
}

.hamburger-menu {
  height: 3.6rem;
  display: none;
  width: 3.6rem;
  cursor: pointer;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;

  .line {
    width: 3.6rem;
    height: 0.1rem;
    background-color: var(--color-light-100);
    transition: width 0.3s ease-in-out;
  }

  &:hover .line {
    &:first-child {
      width: 25%;
    }

    &:nth-child(2) {
      width: 50%;
    }
  }
}

.sidebar-menu {
  width: 100%;
  z-index: 999;
  height: 100vh;
  top: 0;
  left: -100%;
  position: fixed;
  padding: 4rem 0 6rem;
  background: var(--color-gradient);
  transition: left 0.5s ease-in-out;

  &.openSidebar {
    left: 0;
  }

  .container-fluid,
  .sidebar-wrapper {
    height: 100%;
  }

  .sidebar-item {
    display: flex;
  }

  .sidebar-link {
    color: white;
    padding: 2rem 0;
    font-weight: 400;
    font-size: 4.2rem;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;

    &:hover {
      color: var(--color-primary);
      transform: translateX(1rem);
    }
  }

  .social-links {
    gap: 2rem;
    display: flex;
    margin-bottom: 3rem;

    svg {
      fill: white;
      transition: fill 0.3s ease-in-out;

      &:hover {
        fill: var(--color-primary);
      }
    }
  }

  .sidebar-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  .sidebar-topbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

/* // --------------------------------------------------------
//                      MEDIA QUERIES
// -------------------------------------------------------- */

@media screen and (max-width: 991px) {
  .navbar {
    display: none;
  }

  .hamburger-menu {
    display: flex;
  }
}
