.flexRow-start {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.flexRow-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexRow-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flexRow-evenly {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.flexRow-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexRow-end {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.flexColumn-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexColumn-start {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.flexColumn-evenly {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.flexColumn-between {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}