// CLASS DEFAULTS ----------------------------------------------------------------------------------

@use "./variables"as v;


.pr-05 {
  padding-right: 0.5rem;
}

.pr-2 {
  padding-right: 2rem;
}

.pl-05 {
  padding-left: 0.5rem;
}

.pl-2 {
  padding-left: 2rem;
}

.w-100 {
  max-width: 100%;
}

.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

.container {
  width: 90%;
  height: auto;
  margin: 0 auto;
  max-width: v.$width-container;
}

.container-fluid {
  width: 80%;
  height: auto;
  margin: 0 auto;
}


.heading-flex {
  display: flex;
  align-items: center;
  margin-bottom: 6rem;
  justify-content: space-between;
}

.page-banner {
  height: 40vh;
  background-color: v.$color-secondary;

  .container {
    height: 100%;
  }

  .heading {
    height: 100%;
    display: flex;
    color: white;
    align-items: center;
    letter-spacing: 0.2rem;
    justify-content: center;
  }
}

section {
  padding: v.$section-padding 0;
}

.fade-in {
  opacity: 0;
  transform: translateY(5rem);
  transition: transform 0.7s ease-in, opacity 0.8s ease-in,
    background-color 0.5s ease-in-out;

  &.appear {
    opacity: 1;
    transform: translateY(0rem);
  }
}

.slide-inLeft {
  opacity: 0;
  transform: translate(-5rem, 5rem);
  transition: transform 0.7s ease-in, opacity 0.8s ease-in,
    background-color 0.5s ease-in-out;

  &.appear {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.slide-inRight {
  opacity: 0;
  transform: translate(5rem, 5rem);
  transition: transform 0.7s ease-in, opacity 0.8s ease-in,
    background-color 0.5s ease-in-out;

  &.appear {
    opacity: 1;
    transform: translate(0, 0);
  }
}