.contact-form {
  .contact-wrapper {
    gap: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .form-error {
    color: red;
  }

  .form-control {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }

  form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    label {
      color: grey;
      margin-bottom: 0.8rem;
    }

    input,
    textarea {
      padding: 1.5rem;
      margin-bottom: 2.5rem;
      border-radius: 0.6rem;
      border: 0.2rem solid hsl(0, 0%, 81%);

      &:focus-within {
        outline: none;
      }
    }

    .btn-submit {
      border: none;
      cursor: pointer;
      font-weight: 600;
      background-color: var(--color-primary);
      transition: background-color 0.3s ease-in-out;

      &:hover {
        background-color: var(--color-primary-hover);
      }
    }
  }
}

.contact-content {
  h2 {
    margin-bottom: 2rem;
  }

  h3 {
    padding: 2rem 0;
  }

  .address {
    margin-bottom: 2rem;
  }

  span {
    font-size: 1.6rem;
  }

  a {
    font-style: italic;
    color: var(--color-tertiary);
  }
}

.location {
  padding: 0;
}

/* // --------------------------------------------------------
//                      MEDIA QUERIES
// -------------------------------------------------------- */

@media screen and (max-width: 820px) {
  .contact-form {
    form {
      width: 90%;
    }

    .contact-content {
      width: 90%;
    }

    .contact-wrapper {
      gap: 6rem;
      flex-direction: column-reverse;
    }
  }
}
