.features {
  .heading-flex {
    h2 {
      width: 50%;
    }

    p {
      width: 40%;
    }
  }
}

.feature-items {
  gap: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  .feature-item {
    padding: 2rem 0;

    svg {
      fill: var(--color-tertiary);
    }

    h3 {
      padding: 2rem 0;
    }
  }
}

.clients {
  .heading {
    color: gray;
    text-align: center;
    margin-bottom: 4rem;
  }

  .clients-wrapper {
    gap: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    img {
      filter: opacity(0.8);
    }
  }
}

/* // --------------------------------------------------------
//                      MEDIA QUERIES
// -------------------------------------------------------- */

@media screen and (max-width: 820px) {
  .features {
    .heading-flex {
      gap: 2rem;

      h2,
      p {
        width: 100%;
      }
    }
  }

  .feature-items {
    grid-template-columns: repeat(1, 1fr);

    .feature-item {
      padding: 0;
    }
  }

  .clients .clients-wrapper {
    gap: 3rem;

    figure {
      flex: fit-content;
      text-align: center;
    }

    img {
      width: 120px;
    }
  }
}

/* @media screen and (min-width: 769px) and (max-width: 900px) {
} */
